body{
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

img{
    width: 80px;
    margin-right: 15px;
}

.menu{
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: black;
    margin-right: 45px;
}

a:hover{
    color: rgb(84, 84, 243);
}

a:active{
    border-bottom: 2px solid rgb(84, 84, 243);
}

